@CHARSET "UTF-8";
.search-area-wrapper {
  background: #FFFFFF url("../../img/main-bg.jpg") center top no-repeat;
  background-size: 100%;
  min-height: 150px;
  height: auto !important;
  height: 279px;
  margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
	.title-input {
		width: 100% !important;
		height: 1.8rem !important;
		margin-top: 0.4rem; 
	}
	.content-input {
		width: 100% !important;
		height: 20rem !important;
		margin-top: 0.4rem; 
	}
	.search-area-wrapper {
	    background-size: auto;
	    min-height: 150px;
	    height: auto !important;
	    height: 240px;
	}
	.submit-div2 {
		text-align: center;
	}
}
.uploaderMsgBox {
	width: 100%;
	border-bottom: none !important;
}
